* {
    margin:0px;
    padding:0px;
}


.parent{
    height:300px; 
    width:100%;
    background-color: gray;
    padding-top:50px;
    padding-bottom:50px; 
    display:flex; 
    /* flex-direction: row;  */
    justify-content: space-evenly;
    /* align-items: center; */ 
}
.ele{
    height:250px;
    width:15%;
    background-color: red;
    /* margin-left:4%;  */
    /* display:inline-block; */
    
}  


.parent2{
    height:300px;
    width:100%;
    background-color: black;
    margin-top: 4%;
    margin-bottom: 4%;
    padding-top: 4%;

} 

 .ele2{
    height:250px;
    width:20%;
    background-color:pink;
    margin-left:4%; 
    display:inline-block;
    
    /* margin-left:4%; */

} 